.App{
  height: 100vh;
  display: grid;
  place-content: center;
  width: 100vw;
  background-color: blueviolet;
}
.display{
  font-size: 30px;
  font-weight: bolder;
  text-align: center;
  margin-bottom: 10px;
}
.controls{
  display: flex;
  gap:30px
}
button{
  outline: none;
  border: none;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 5px 10px 18px purple;
  font-size: 25px;
  font-weight: bold;
  cursor: pointer;
}
button:active {
  background-color: rgb(189, 177, 177);
  box-shadow: 0 5px rgb(216, 7, 216);
  transform: translateY(4px);
}